@model Argensteam1.Models.Usuario
@{
}


<div class="container bootstrap snippets bootdeys fondo">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2>@Model.Username </h2>
                <div class="profile-status">
                    <i class="fa fa-check-circle"></i> Online
                </div>
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="profile-img img-responsive center-block">
                <div class="profile-label mt-2">
                    <a href="#" class="btn btn-primary edit-profile">
                        <i class="fa fa-pencil-square fa-lg"></i> Editar foto
                    </a>
                </div>

                <div class="profile-since">
                    Miembro desde: Jan 2012
                </div>

                <div class="profile-details">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-truck"></i>Juegos Adquiridos:@ViewBag.contBiblio <span></span></li>
                        <li><i class="fa-li fa fa-comment"></i>Juegos deseados: <span>@ViewBag.contWhish</span></li>
                    </ul>
                </div>

                <div class="profile-message-btn center-block text-center mb-3">
                    <a asp-action="Soporte" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Enviar Consulta
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix mt-5">
                <div class="">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">  
                            <button class="nav-link active" id="nav-biblioteca-tab" data-bs-toggle="tab" data-bs-target="#tab-biblioteca" type="button" role="tab" aria-controls="nav-biblioteca" aria-selected="true">Biblioteca</button>
                         <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#tab-whishlist" type="button" role="tab" aria-controls="nav-whishlist" aria-selected="false">Whishlist</button>
                    </div>
                   </nav>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-biblioteca">
                            <div class="row mt-5">
                            @foreach(UsuarioJuego uj in Model.UsuarioJuegos.Where(uj => uj.tipoLista.Equals('B')))
                            {
                                <div class="col-md-3 ml-3 tarjeta" >
                                    <h5 id="nombre" class="tituloTarjeta"> @Html.DisplayFor(modelItem=>uj.Juego.Name) </h5>
                                    @{
                                        Juego juego = (Juego)uj.Juego;
                                    }
                                    <img  class= "tamañoJuegoVenta" src=@Url.Content(juego.Imagenes) alt="">
                                    <h5 class="titulo2">Precio: $ @Html.DisplayFor(modelItem=>uj.Juego.Precio) </h5>                               
                                    <a class="btn btn-outline-primary" asp-action="Juegos" asp-route-id="@uj.Juego.Id">Ver Mas</a>
                                </div>
                            } 
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-whishlist">
                            <div class="row mt-5">
                            @foreach(UsuarioJuego uj in Model.UsuarioJuegos.Where(uj => uj.tipoLista.Equals('W')))
                            {
                                <div class="col-md-3 ml-3 tarjeta" >
                                    <h5 id="nombre" class="tituloTarjeta"> @Html.DisplayFor(modelItem=>uj.Juego.Name) </h5>
                                    @{
                                        Juego juego = (Juego)uj.Juego;
                                    }
                                    <img  class= "tamañoJuegoVenta" src=@Url.Content(juego.Imagenes) alt="">
                                    <h5 class="titulo2">Precio: $ @Html.DisplayFor(modelItem=>uj.Juego.Precio) </h5>                               
                                    <a class="btn btn-outline-primary" asp-action="Juegos" asp-route-id="@uj.Juego.Id">Ver Mas</a>
                                </div>
                            }    
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
